html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #8d8d8d;
  top: 0;
  position: fixed;
  width: 100%;
}

.logo {
  width: 12rem;
}

.navbar {
  list-style-type: none;
  margin-right: 5rem;
  padding: 2rem;
}

.nav-item {
  display: inline;
  padding: 2rem;
  border: 1px solid #8d8d8d;
  transition: 0.2s;
  text-decoration: none;
  color: #2e2e2e;
}

.nav-item:hover,
.submit-btn:hover {
  cursor: pointer;
  background-color: #c9c9c9;
  transition: 0.5s;
}

#home {
  border-start-start-radius: 10%;
  border-end-start-radius: 10%;
}

#message {
  border-end-end-radius: 10%;
  border-start-end-radius: 10%;
}

header {
  margin-top: 17rem;
  text-align: center;
  padding-bottom: 5rem;
  border-bottom: 1px solid #8d8d8d;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

h4 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
}

.school-building {
  height: 50vh;
  width: 90vw;
  object-fit: cover;
  margin-top: 3rem;
  border-radius: 2rem;
}

.our-profile {
  padding: 12rem;
  display: inline;
}

.our-profile h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.list-profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.profile {
  margin: 0 2rem 0 2rem;
  text-align: center;
  justify-content: center;
}

.profile > img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid #8d8d8d;
}

.profile > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#vision {
  border-top: 1px solid #8d8d8d;
  margin-top: 5rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
}

.vision {
  width: 40%;
}

.visimisi {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.text h3 {
  font-size: 2rem;
  font-style: italic;
}

.text p,
.text li {
  font-size: 1.2rem;
}

ol li {
  text-align: start;
}

.message {
  border-top: 1px solid #8d8d8d;
}

.message-us {
  display: flex;
  justify-content: space-around;
}

.message h2 {
  font-size: 3rem;
  margin-left: 10%;
}

.form-list {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.form-list .input {
  display: flex;
}

#jenisKelamin {
  display: flex;
  justify-content: start;
  text-align: center;
}

#name,
#date,
#pesan {
  width: 22rem;
}

.submit-btn {
  height: 3rem;
  width: 100%;
}

.return {
  width: 40rem;
  margin-left: 4rem;
  border: 1px solid #8d8d8d;
  border-radius: 1rem;
}

.point {
  font-weight: 800;
  margin-left: 1rem;
}

.return .point span {
  font-weight: 100;
}

footer {
  border-top: 1px solid #8d8d8d;
  font-weight: 100;
  text-align: right;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #dbdbdb;
}

footer p {
  margin-right: 2rem;
}

/* Media Querry */

/* Mobile */

@media (max-width: 768px) {
  .visimisi,
  .message-us {
    display: inline;
  }

  .message h2 {
    text-align: center;
    margin-left: 0;
  }

  .return {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
  }
}
