body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.navbar {
  list-style-type: none;
  margin-right: 5rem;
  border: 1px solid #8d8d8d;
  height: 5rem;
}

.navbar li {
  display: inline;
  padding: 2rem;
}

header {
  text-align: center;
}

.school-building {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}
